*{
    background-color: gainsboro;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: 100;
}
h1{
    font-size: 72px;
    font-weight: 700;
}
a{
    color:maroon;
    text-decoration: none;
}